.img{
    background-image: url(../akes/aa\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.taa{
    text-align: center; 
}
.gradiant{
    background: linear-gradient(90deg,blue,red);
}
.w-25{
   width: 25;
}


    
      
    

     
     