body{
    background-color: blanchedalmond;color: black;
}
.ali{
    font-size: xxx-large; text-align: center;
}
.ali1{
    background-color: blanchedalmond; color: black;
}
.ali2{
    background-color: blanchedalmond; color: black; font-size: xxx-large;
    text-align: center;
}
#ali3{
     background-color: blanchedalmond; color: black;
}
    .ali4{
        font-size: xxx-large; text-align: center;
    }
    .aa{
        background-color: blanchedalmond; color: black;
    }
        
    
    .aaa{
        font-size: xx-large; color: blueviolet;
    }
    .alirezaw{
        text-align: right;
    }

    
